[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "external/enet"]
	path = external/enet
	url = git@github.com:lsalzman/enet.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
